In [158]:
import re
import pandas as pd
import numpy as np
import random as ran
s = 'ABCAC'

In [3]:
len(re.split('A',s))

3

In [15]:
bool(re.match('A', s))==True

True

In [81]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'
    result = []
    pattern = re.compile(r'[\w]AAA')
    for item in re.finditer(pattern, s):
      for pre_A in result.group(0):
        if pre_A != 'A':
            result.append(item.group())
    return result

In [91]:
s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'
pattern = re.compile(r'[\w]AAA')
results=pattern.finditer(s)
t=[]
for item in re.finditer(pattern,s):
    t.append(item.group()[0])
print(t)

['C', 'F', 'B']

In [83]:
result()

TypeError: 're.Match' object is not callable

In [92]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = re.compile(r'[\w]AAA')
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group()[0])
      
    return result

In [93]:
result()

['C', 'F', 'B']

In [100]:
df = pd.Series([4,7,-5,3],['d','b','a','c'])

In [101]:
df

d    4
b    7
a   -5
c    3
dtype: int64

In [102]:
df.index[0]

'd'

In [103]:
df.iloc[0]

4

In [122]:
s1=pd.Series([20,15,18,31],['M','S','Buleberry','V'])
s2=pd.Series([20,30,15,20,20],['S','V','Banana','M','P'])
s3=s1.add(s2)

In [123]:
s3

Banana        NaN
Buleberry     NaN
M            40.0
P             NaN
S            35.0
V            61.0
dtype: float64

In [115]:
s3['P'] >= s3['M']

False

In [118]:
s3['Buleberry'] == s1.add(s2, fill_value = 0)['Buleberry']

False

In [120]:
s3=s3['M'] >=  s1.add(s2, fill_value = 0)['M']

True

In [124]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [125]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [126]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int32

In [127]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int32

In [152]:
store=pd.DataFrame({'item':['i_1','i_1','i_1','i_2','i_2','i_2'],'Store':['A','B','C','A','B','C'],'Quality':[10.0,20.0,np.nan,5.0,10.0,15.0]})

In [153]:
store

  item Store  Quality
0  i_1     A     10.0
1  i_1     B     20.0
2  i_1     C      NaN
3  i_2     A      5.0
4  i_2     B     10.0
5  i_2     C     15.0

In [138]:
store.groupby('item').sum()

      Quality
item
i_1      30.0
i_2      30.0

In [144]:
df=store.set_index('Store')

In [146]:
df.set_index('item')

      Quality
item
i_1      10.0
i_1      20.0
i_1       NaN
i_2       5.0
i_2      10.0
i_2      15.0

In [136]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]

In [137]:
c

46

In [147]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [149]:
S

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [150]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [151]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int32

In [172]:
df=pd.DataFrame(np.arange(12).reshape((4,3)),index=['R1','R2','R3','R4'],columns=['a','b','c'])

In [173]:
df

    a   b   c
R1  0   1   2
R2  3   4   5
R3  6   7   8
R4  9  10  11

In [174]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)

In [177]:
df_new

a     9
b    11
c    13
dtype: int64