In [2]:
from pandas  import DataFrame, Series, NA
import pandas as pd
import numpy as np

In [33]:
df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1]=NA
df.iloc[:2,2]=NA

In [34]:
df

          0         1         2
0 -0.728687      <NA>      <NA>
1  0.610477      <NA>      <NA>
2  1.006085      <NA>  0.251635
3  0.290131      <NA>   0.54879
4  1.607104  0.406749  -0.37884
5  0.573990 -0.410657 -0.147201
6  1.104630 -0.318239 -0.590741

In [53]:
df.dropna(thresh=1)

          0         1         2
0 -0.728687      <NA>      <NA>
1  0.610477      <NA>      <NA>
2  1.006085      <NA>  0.251635
3  0.290131      <NA>   0.54879
4  1.607104  0.406749  -0.37884
5  0.573990 -0.410657 -0.147201
6  1.104630 -0.318239 -0.590741

In [57]:
data = np.random.randn(100)
data

array([ 0.44088413,  0.48737635, -0.47136691, -0.29569214, -1.36499946,
       -0.37867766,  0.17584757,  0.51210089, -0.8156015 , -1.57777272,
        0.57906783, -0.57483485,  0.67578571,  1.66568408, -1.41884728,
        0.11602454,  0.5396538 , -0.17270932, -2.13430823, -0.59308995,
        0.48347893,  0.79321867,  1.6995358 ,  1.2516157 , -0.43562838,
       -1.20505912, -0.32150699,  1.57728497,  0.38569861, -1.23887363,
       -1.06376504,  1.04182185, -0.1630256 ,  0.53611877, -0.08004661,
       -0.66188687, -1.48825906,  0.74039278,  0.23379465,  0.69509225,
       -0.57809554,  0.82460456, -1.43190567, -0.39416977,  0.43931262,
       -0.75221025,  1.90310383, -1.4569314 ,  1.69519002,  0.58947231,
        1.76363404, -1.82281639, -0.09967834, -0.19160043, -0.49697934,
       -1.42825506, -0.80547587,  0.16181265,  1.26187291,  0.36977677,
        1.36390454,  0.93378644, -0.23839771,  0.61824431,  1.17377137,
       -0.27430671, -0.23526215, -3.15449378, -1.94137554,  0.3769118 ,
       -0.34263733,  1.11969139,  0.50676725,  0.69738845,  0.59295047,
        2.16468667, -1.00580099, -0.48588826, -2.98402086, -0.30404668,
       -0.77520646,  0.02050253,  1.92523712,  0.78755596, -0.43992064,
        0.32243028, -0.8399949 ,  2.32488971,  0.17821666,  1.6857895 ,
        0.13008949,  0.13631712, -0.96145672,  0.72030895, -0.48425636,
        0.98461526, -1.12796145, -0.036571  , -1.14032202,  0.05960354])

In [64]:
cats = pd.qcut(data,4,precision=2)

In [65]:
cats

[(0.04, 0.68], (0.04, 0.68], (-0.61, 0.04], (-0.61, 0.04], (-3.1599999999999997, -0.61], ..., (0.68, 2.32], (-3.1599999999999997, -0.61], (-0.61, 0.04], (-3.1599999999999997, -0.61], (0.04, 0.68]]
Length: 100
Categories (4, interval[float64]): [(-3.1599999999999997, -0.61] < (-0.61, 0.04] < (0.04, 0.68] < (0.68, 2.32]]

In [66]:
group_names = ['youths','young adult','middleaged','senior']

In [67]:
pd.cut(data,4,labels=group_names)

['middleaged', 'middleaged', 'young adult', 'middleaged', 'young adult', ..., 'senior', 'young adult', 'middleaged', 'young adult', 'middleaged']
Length: 100
Categories (4, object): ['youths' < 'young adult' < 'middleaged' < 'senior']

In [84]:
data = DataFrame(np.random.randn(1000,4))
data

            0         1         2         3
0   -0.814444  0.209459 -0.977338 -0.315425
1   -2.163886 -0.634126  0.245493 -0.375717
2   -1.738775 -2.550919  0.451040 -1.023668
3    0.986306  0.210636  0.319776 -0.087560
4    2.226140 -0.556663 -0.249765 -0.029341
..        ...       ...       ...       ...
995 -0.724588 -0.467754 -0.417075  0.606620
996 -0.995146 -0.671320  1.612185  1.227488
997  0.644851 -0.007866 -1.510201  1.739053
998  0.815953 -1.511282  0.083126 -0.831177
999  0.782595 -0.868269 -0.310020  0.865308

[1000 rows x 4 columns]

In [89]:
col =  data[2]
col

0     -0.977338
1      0.245493
2      0.451040
3      0.319776
4     -0.249765
         ...
995   -0.417075
996    1.612185
997   -1.510201
998    0.083126
999   -0.310020
Name: 2, Length: 1000, dtype: float64

In [90]:
col[np.abs(col)>3]

352    3.551726
777   -3.114744
Name: 2, dtype: float64

In [97]:
data[(np.abs(data)>3).any()]

<ipython-input-97-38a1a020b135>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[(np.abs(data)>3).any()]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

### Computing Indicator/Dummy Variables

In [19]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],'data1':range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [18]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

### computing indicator/dummy variable

In [16]:
values = np.random.rand(10)
values

array([0.02684928, 0.80037024, 0.90372254, 0.02467621, 0.49174732,
       0.52625517, 0.59636601, 0.05195755, 0.89508953, 0.72826618])

In [17]:
bins = [0,0.2,0.4,0.6,0.8,1]

In [18]:
pd.get_dummies(pd.cut(values,bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           1           0           0           0           0
1           0           0           0           0           1
2           0           0           0           0           1
3           1           0           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           1           0           0
7           1           0           0           0           0
8           0           0           0           0           1
9           0           0           0           1           0